<footer
    class="bg-accent-1 text-dark">
    <div class="p-2 flex flex-col justify-center items-center font-display">
        <img
            alt="Myrkwood Mushrooms Logo"
            class="w-7"
            style="margin-left: 13px"
            src="images/logo_CW.svg"
            height="96px"
            width="128px" />
        <div class="pl-2">
        <p class="p-0 text-center">Copyright {% currentYear %}</p>
        <p
            class="pt-1 text-xs text-center">
            <a
                class="underline"
                href="{{builtBy.url}}">
                Site by
                {{builtBy.name}}
            </a>
        </p>
        </div>
    </div>
</footer>
