<footer
    class="border-t border-black border-solid p-4">
    {% render 'navigation', navigation: navigation%}
    <p
        class="text-xs mt-4">Copyright {% currentYear %}
    </p>
    <p
        class="text-xs">
        <a
            class="underline"
            href="{{builtBy.url}}">
            Site by
            {{builtBy.name}}
        </a>
    </p>
</footer>
