<head>
    <meta
        charset="utf-8">
    <meta
        content="width=device-width, initial-scale=1"
        name="viewport">
    <title>{{ site.title }}
    </title>
    <meta
        name="description"
        content="{{ site.description }}" />
    <meta
        charset="utf-8" />
    <meta
        content="width=device-width, initial-scale=1.0"
        name="viewport" />
    <link
        as="font"
        crossorigin
        href="manrope-regular.woff2"
        rel="preload"
        type="font/woff2" />

    <link
        href="/main.css"
        rel="stylesheet"
        type="text/css" />
    <script
        src="/main.js"
        type="module"></script>
</head>
