{% if type == 'download'%}
    <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="24px" height="24px" viewBox="0 0 92 92" enable-background="new 0 0 92 92" xml:space="preserve">
    <path id="XMLID_1335_" d="M89,58.8V86c0,2.8-2.2,5-5,5H8c-2.8,0-5-2.2-5-5V58.8c0-2.8,2.2-5,5-5s5,2.2,5,5V81h66V58.8
        c0-2.8,2.2-5,5-5S89,56,89,58.8z M42.4,65c0.9,1,2.2,1.5,3.6,1.5s2.6-0.5,3.6-1.5l19.9-20.4c1.9-2,1.9-5.1-0.1-7.1
        c-2-1.9-5.1-1.9-7.1,0.1L51,49.3V6c0-2.8-2.2-5-5-5s-5,2.2-5,5v43.3L29.6,37.7c-1.9-2-5.1-2-7.1-0.1c-2,1.9-2,5.1-0.1,7.1L42.4,65z"
        />
    </svg>
{% endif %}
{% if type == 'external-link'%}
    <svg
        class="w-full"
        height="32.822px"
        viewbox="0 0 32.822 32.822"
        width="32.822px"
        xmlns="http://www.w3.org/2000/svg">
        <g
            data-name="Lager 80"
            id="Lager_80"
            transform="translate(0 0.822)">
            <path
                d="M24,22v5a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V9A1,1,0,0,1,5,8h5a2,2,0,0,0,2-2h0a2,2,0,0,0-2-2H3A3,3,0,0,0,0,7V29a3,3,0,0,0,3,3H25a3,3,0,0,0,3-3V22a2,2,0,0,0-2-2h0A2,2,0,0,0,24,22Z"
                data-name="Path 89"
                fill="#161615"
                id="Path_89" />
            <rect
                data-name="Rectangle 40"
                fill="#161615"
                height="4"
                id="Rectangle_40"
                rx="2"
                transform="translate(16 0)"
                width="16" />
            <rect
                data-name="Rectangle 41"
                fill="#161615"
                height="4"
                id="Rectangle_41"
                rx="2"
                transform="translate(32 0) rotate(90)"
                width="16" />
            <g
                data-name="Group 37"
                id="Group_37">
                <rect
                    data-name="Rectangle 42"
                    fill="#161615"
                    height="3.971"
                    id="Rectangle_42"
                    rx="1.986"
                    transform="translate(7.178 22.014) rotate(-45)"
                    width="32.296" />
            </g>
        </g>
    </svg>
{% endif %}
{% if type == 'etsy-long' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="50px" viewBox="0 0 48 24">
    <path d="M6.547,3.125v6.008c0,0,2.117,0,3.25-0.086c0.891-0.156,1.055-0.242,1.219-1.133l0.328-1.305h0.969l-0.164,2.852 l0.086,2.922h-0.977l-0.242-1.141c-0.242-0.812-0.57-0.977-1.219-1.055c-0.812-0.086-3.25-0.086-3.25-0.086v5.039 c0,0.969,0.492,1.383,1.625,1.383h3.414c1.055,0,2.109-0.086,2.766-1.625l0.883-1.953h0.82c-0.086,0.406-0.492,3.984-0.57,4.789 c0,0-3.086-0.078-4.383-0.078H5.25l-3.492,0.078v-0.883l1.133-0.25c0.82-0.164,1.062-0.406,1.062-1.055 c0,0,0.086-2.195,0.086-5.852c0-3.648-0.086-5.844-0.086-5.844c0-0.727-0.242-0.891-1.062-1.055L1.758,2.555V1.664l3.414,0.07h6.5 c1.297,0,3.484-0.234,3.484-0.234s-0.078,1.375-0.164,4.625h-0.891l-0.328-1.141c-0.32-1.461-0.805-2.188-1.703-2.188H6.961 C6.547,2.797,6.547,2.875,6.547,3.125z M19.703,3.766h0.977V7.18l3.336-0.164l-0.164,1.547l-3.25-0.25v6.016 c0,1.703,0.57,2.359,1.547,2.359c0.883,0,1.539-0.492,1.781-0.898l0.484,0.57c-0.484,1.133-1.859,1.703-3.164,1.703 c-1.617,0-2.93-0.969-2.93-2.836V8.398h-1.938V7.586C18.008,7.422,19.219,6.445,19.703,3.766z M26.695,14.242l0.648,1.547 c0.242,0.648,0.812,1.305,2.109,1.305c1.383,0,1.953-0.734,1.953-1.625c0-2.766-5.445-1.953-5.445-5.688c0-2.109,1.703-3.094,3.898-3.094c0.977,0,2.438,0.164,3.172,0.492c-0.164,0.812-0.25,1.867-0.25,2.68l-0.805,0.078l-0.57-1.625 c-0.164-0.398-0.82-0.727-1.625-0.727c-0.977,0-1.953,0.406-1.953,1.461c0,2.516,5.609,1.953,5.609,5.688c0,2.117-1.867,3.25-4.148,3.25c-1.703,0-3.414-0.656-3.414-0.656c0.164-0.969,0.086-2.023,0-3.086H26.695z M33.031,22.039 c0.242-0.891,0.406-2.023,0.57-3.086l0.891-0.078l0.328,1.703c0.078,0.406,0.32,0.734,0.969,0.734c1.055,0,2.438-0.648,3.742-2.922 c-0.578-1.383-2.281-5.844-3.828-9.258c-0.406-0.898-0.484-0.977-1.047-1.141l-0.414-0.156v-0.82l2.445,0.086l3-0.164V7.75 l-0.734,0.164c-0.57,0.078-0.805,0.398-0.805,0.727c0,0.086,0,0.164,0.078,0.328c0.156,0.492,1.461,4.141,2.438,6.578c0.805-1.703,2.352-5.523,2.594-6.172c0.086-0.328,0.164-0.406,0.164-0.648c0-0.414-0.242-0.656-0.805-0.812L42.039,7.75V6.938 l2.281,0.078l2.109-0.078V7.75l-0.406,0.32c-0.812,0.328-0.898,0.406-1.219,1.062l-3.57,8.359 c-2.117,4.797-4.312,5.203-5.852,5.203C34.406,22.695,33.672,22.445,33.031,22.039z" fill="currentColor"/>
  </svg>
{% endif %}
{% if type == "etsy-short"%}
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="30px" height="30px" viewBox="0 0 97.75 97.75" style="enable-background:new 0 0 97.75 97.75;" xml:space="preserve"
	>
<g>
	<path d="M48.875,0C21.882,0,0,21.883,0,48.875S21.882,97.75,48.875,97.75S97.75,75.867,97.75,48.875S75.868,0,48.875,0z
		 M78.729,68.146c-0.556,4.598-1.133,9.192-1.649,13.795c-0.19,1.713-0.125,1.703-1.881,1.683
		c-13.405-0.167-26.809-0.384-40.214-0.459c-4.803-0.028-9.607,0.289-14.412,0.44c-0.636,0.021-1.271,0.004-2.027,0.004
		c0-1.336,0-2.629,0-4.129c1.713-0.338,3.529-0.674,5.334-1.063c0.742-0.16,1.478-0.392,2.181-0.674
		c1.061-0.427,1.727-1.216,1.88-2.38c0.071-0.547,0.179-1.096,0.184-1.644c0.092-10.002,0.218-20.003,0.232-30.004
		c0.009-6.213-0.15-12.425-0.252-18.636c-0.057-3.517-0.988-4.611-4.417-5.266c-1.457-0.277-2.93-0.497-4.372-0.833
		c-0.348-0.083-0.843-0.506-0.871-0.81c-0.104-1.133-0.041-2.279-0.041-3.516c19.228,0.32,38.347,1.13,57.646-0.536
		c-0.404,6.527-0.809,13.066-1.221,19.722c-1.169,0-2.239,0.093-3.277-0.049c-0.367-0.052-0.828-0.62-0.955-1.04
		c-0.588-1.948-1.023-3.943-1.613-5.892c-0.346-1.132-0.812-2.241-1.346-3.299c-1.207-2.395-3.019-3.681-5.888-3.632
		c-6.896,0.121-13.794,0.037-20.69,0.041c-1.754,0.002-1.806,0.06-1.808,1.778c-0.01,7.748-0.016,15.497-0.022,23.244
		c-0.002,0.423,0,0.846,0,1.378c3.049,0,5.932,0.048,8.813-0.018c1.867-0.041,3.731-0.225,5.595-0.379
		c2.549-0.211,3.455-0.955,4.096-3.415c0.48-1.846,0.91-3.705,1.326-5.567c0.164-0.734,0.498-1.072,1.303-1.015
		c1.014,0.072,2.037,0.018,3.199,0.018c0,0.677,0.006,1.284,0,1.894c-0.062,7.271-0.141,14.542-0.164,21.813
		c-0.004,0.967-0.228,1.352-1.266,1.357c-3.055,0.022-3.053,0.063-3.773-2.92c-0.26-1.072-0.521-2.146-0.803-3.211
		c-0.647-2.455-2.479-3.359-4.783-3.435c-4.335-0.146-8.676-0.188-13.015-0.271c-0.118-0.002-0.237,0.063-0.47,0.125
		c-0.021,0.481-0.063,0.979-0.064,1.476c-0.01,6.472-0.016,12.942-0.018,19.413c-0.003,4.021,1.512,5.972,5.546,6.086
		c6.204,0.178,12.423,0.049,18.629-0.141c3.754-0.113,6.325-2.312,7.935-5.58c1.312-2.666,2.512-5.392,3.621-8.146
		c0.49-1.221,1.129-1.787,2.451-1.584c0.573,0.09,1.174,0.015,1.98,0.015C79.141,64.745,78.934,66.445,78.729,68.146z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

{% endif %}
{% if type == 'instagram'%}
    <svg
        height="24px"
        role="img"
        viewbox="0 0 24 24"
        width="24px"
        xmlns="http://www.w3.org/2000/svg">
        <title>Instagram icon
        </title><path
            d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333
                4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63
                4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0
                12s.015 3.667.072 4.947c.06 1.277.261 2.148.558
                2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126
                1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12
                24s3.667-.015 4.947-.072c1.277-.06 2.148-.262
                2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667
                1.079-1.335
                1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319
                1.347 20.651.935
                19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0
                12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249
                2.227.415.562.217.96.477 1.382.896.419.42.679.819.896
                1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07
                4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421
                2.227-.224.562-.479.96-.899
                1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211
                0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844
                0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689
                1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06
                4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0
                3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162
                0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21
                0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0
                .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44
                0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z" />
    </svg>
{% endif %}
