<nav>
    <ul
        class="flex font-display items-center uppercase text-xs sm:text-lg gap-1">
        {% for item in navigation %}
            {% if page.filePathStem == item.key %}
                {% assign activeClasses = 'underline'%}
                {% assign currentAttribute = 'aria-current="page"' %}
            {% else %}
                {% assign activeClasses = null %}
                {% assign currentAttribute = null %}
            {% endif %}
            <li
                class="py-2 text-center {{activeClasses}}"
                {{currentAttribute}}>
                <a class="block {% if item.key contains 'https'%} px-1 rounded-sm bg-dark text-accent-1 {% endif %}" {% if item.key contains 'https' %} target="_blank" {% endif %}
                    href="{{item.key}}">{{item.title}}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
