<nav>
    <ul
        class="flex font-display capitalize sm:text-2xl">
        {% for item in navigation %}
            {% if page.filePathStem == item.key %}
                {% assign activeClasses = 'underline'%}
                {% assign currentAttribute = 'aria-current="page"' %}
            {% else %}
                {% assign activeClasses = null %}
                {% assign currentAttribute = null %}
            {% endif %}
            <li
                class="p-2 text-center {{activeClasses}}"
                {{currentAttribute}}>
                <a
                    href="{{item.key}}">{{item.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
