<section
    class="p-2 rounded-sm max-w-screen-md shadow border-solid
        border-accent-2">
    <div
        class="flex justify-between pb-2">
        <h4
            class="m-0 text-xl">{{title}}
        </h4>
        <div class="font-display">{{price}}
        </div>
    </div>
    <p
        class="p-0">
        {{description}}
    </p>
</section>