<div
    class="container">
    <h1>{{site.title}}
    </h1>
    <div
        class="my-4">
        {% picture 'images/beach.JPG' 'A beach pic' %}
    </div>

    <p>Curabitur at lacus ac velit ornare lobortis.
    </p>
    <p>Donec venenatis vulputate lorem. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Proin magna.
    </p>
    <p>Etiam iaculis nunc ac metus. Sed aliquam ultrices mauris. .Eget, lobortis pellentesque, rutrum eu, nisl. Proin magna.
    </p>

    <p
        class="font-body pt-4">This is a simple Eleventy starter. It uses plain JavaScript templates and TailwindCSS.
        <a
            class="underline"
            href="https://github.com/esharri2/ev-eleventy-starter">Check out the notes here.
        </a>

    </p>
</div>
