html {
    scroll-behavior: smooth;
}

body {
      overscroll-behavior-y: none;

}

h1, h2, h3, h4 {
    @apply font-display my-4;
}

p + p {
    @apply pt-4;
}

input, label, textarea {
    @apply block w-full;
}

input, textarea {
    @apply p-2 block mt-1 bg-light rounded-sm border border-solid border-dark;
}

button, input, textarea {
    outline-color: #93c47d;
}

label {
    @apply text-lg font-display pt-4;
}


li {
    @apply pl-2 pb-2;
}

li::marker {
    @apply font-display text-2xl;
}

img.background {
    filter:brightness(.5);
}

svg {
    /* width: 100%; */
}


